body {
    background-color: #1d7bc0;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #4b4b4b;
    height: 90px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    line-height: 90px;
    padding: 0 30px;
}

.navigation a:hover {
    background-color: #303030;
}

.main-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
}

.inner-main {
    width: 1080px;
    margin: 0 auto;
}

.main-box {
    background-color: #d9d9d9;
    width: 1050px;
    height: 1050px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.37);
    margin-bottom: 100px;
    color: black;
}

.main-box p {
    margin: 0;
    font-size: 25px;
}

.product-image {
    height: 100px;
    width: 100px;
}

.show {
    margin-bottom: 50px;
    object-fit: contain;
}

.hide {
    margin-bottom: 50px;
    object-fit: contain;
}